.header{
    width: 100%;
    height: 1.6%;
    background-color: rgb(23, 181, 181);
    text-align:center;
}

.createUser{
    margin-left: 2%;
}

.searchUser{
    margin-left: 2%;
    margin-top: 3%;
    width:50%;
}

.padding{
    margin-left: 2%;
    margin-top: 3%;
}

.tab-padding{
    margin-left: 2%;
}

.errorMsg{
    margin-left: 2%;
    margin-top: 2%;
}

.even{
    background-color: lightgrey;
    width: 100%;
    height: 2%;
}

.odd{
    width: 100%;
    height: 2%;
}

.profile{
    margin-left: 2%;
    margin-top: 3%;
    width: 650px;
    height: 80%;
    
}

.success{
    color: green;
}

.failure{
    color: red;
}

.messageText{
    width: 400px;
}

.userInfo{
    clear:both;
    text-align: left;
    font-weight: 400;
}

.unFollowText{
    
    float: right;
    text-align: right;
    color: red;
    
}

.followerInfo{
    width: 60%;
    
}